@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blueviolet;
}

.main {
  width: 100%;
  padding: 20px;
}
.heading
{
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.Homeimage
{
  border: 1px solid white;
}